---
layout: default
---
<div class="leftnav">
    <div class="menu">
      <ul><li class="title">Changelog</li>
          {% menu changelog %}
      </ul>
    </div>
</div>

<div class="content2">
    <div class="content2-pagetitle">{{ page.title }}</div>
    <div class="content2-container line-box">
        <div class="content2-container-1col">
            {% if page.only_on %}
            <div class="warning">
                The information present on this page is only valid on the <b>{{ page.only_on }}</b> flavors of Rock
            </div>
            {% endif %}
            {{ content }}
        </div>
    </div>
</div>

