<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<!-- Recommended XHTML-Editor: HTML-Kit 292 (Freeware) -->
<!-- http://www.chami.com/html-kit/download/ -->

<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="description" content="The Robot Construction Kit - a robot software development environment" />
  <meta name="keywords" content="robotics,toolchain,components,field robotics,underwater robotics" />
  <meta name="author" content="The Rock core team" />
  <link rel="stylesheet" type="text/css" href="{% relocatable /style_screen.css %}" />
  <title>The Robot Construction Kit</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>

<body>
  <div class="page-container-2">
      <div class="nav1-container">
          <div class="nav1">
              <webgen:block name="navbar" notfound="ignore"/>
              <a href="{% relocatable /documentation/installation.html %}">Installation</a>
              <a href="{% relocatable /documentation/index.html %}">Documentation</a>
              <a href="{% relocatable /package_directory.html %}">Browse Packages</a>
              <a href="http://blog.rock-robotics.org">News</a>
              <a href="{% relocatable /documentation/about/contributing.html %}">Community</a>
          </div>
          {% include google_search_bar.html %}
      </div>

      <div class="site-name" onclick="location.href='{% relocatable / %}';" style="cursor: pointer; z-index: 10;">
          <p class="title">Rock</p>
          <p class="subtitle">the Robot Construction Kit</p>
      </div>

      <div class="title_buffer"></div>

      <div class="nav2">			
          {% include breadcrumbs.html %}
      </div>
    
      <div class="buffer">
      </div>

      <div class="leftnav">
          <webgen:block name="leftbar" notfound="ignore"/>
      </div>

    
      {% if page.rock_page_style == 'centered' %}
      <div class="content2" style="margin-left: 110px;">
      {% else %}
      <div class="content2">
      {% endif %}

          {% if page.page_title %}
              <div class="content2-pagetitle">{{ page.page_title }}</div>
          {% else %}
              <div class="content2-pagetitle">{{ page.title }}</div>
          {% endif %}
          <div class="content2-container line-box">
              <div class="content2-container-1col">
                  {% if page.only_on %}
                  <div class="warning">
                      The information present on this page is only valid on the <b>{{ page.only_on }}</b> flavors of Rock
                  </div>
                  {% endif %}
                  {{ content }}
              </div>
          </div>
      </div>

      <!-- FOOTER -->
      <div class="footer">
          <div class="nav1">
              <ul>
                  <li><a href="{% relocatable /documentation/about/index.html %}">About Rock</a></li>
              </ul>
          </div>
      </div>
  </div>
</body>
</html>

<!--
vim:tw=0:ft=eruby
-->

