---
layout: default
---
<div class="leftnav">
    <div class="menu">
        <ul>{% menu toc %}</ul>
        <div class="title">Intro</div>
        <ul>{% menu intro %}
            <li class="level1"><a href="{% relocatable /pkg %}">Packages API</a></li>
        </ul>
        <div class="title">Tutorials</div>
        <ul>{% menu tutorials %}</ul>
        <div class="title">Core</div>
        <ul>{% menu core %}</ul>
        <div class="title">Additional Core Functionality</div>
        <ul>{% menu addons %}</ul>
    </div>
</div>

    
<div class="content2">
    {% if page.page_title %}
    <div class="content2-pagetitle">{{ page.page_title }}</div>
    {% else %}
    <div class="content2-pagetitle">{{ page.title }}</div>
    {% endif %}
    <div class="content2-container line-box">
        <div class="content2-container-1col">
            {% if page.only_on %}
            <div class="warning">
                The information present on this page is only valid on the <b>{{ page.only_on }}</b> flavors of Rock
            </div>
            {% endif %}
            {{ content }}
        </div>
    </div>
</div>
